<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
    name="sda10f">	
        <xacro:include filename="$(find motoman_sda10f_support)/urdf/common_torso_macro.xacro" />
        <xacro:include filename="$(find motoman_sda10f_support)/urdf/arm_macro.xacro" />
        <xacro:include filename="$(find robotiq_s_model_visualization)/cfg/s-model_articulated_macro.xacro" />
        
        <xacro:torso name="torso" prefix="torso_"/>

        
        <xacro:motoman_arm name="arm_left" prefix="arm_left_" parent="torso_link_b1" reflect="1">
            <origin xyz="0.09996 0.0275 0.32214" rpy="1.57 0 0" />
        </xacro:motoman_arm>      
        
        <xacro:motoman_arm name="arm_right" prefix="arm_right_" parent="torso_link_b1" reflect="-1">
            <origin xyz="0.09996 -0.0275 0.32214" rpy="1.57 0 0" />
        </xacro:motoman_arm>


	<link name="cylinder_hand_left">
		<visual>
			<geometry>
				<cylinder length=".0743" radius=".06" />
			</geometry>
			<material name="ylw">
          			<color rgba=".8 .8 0 1"/>
         		</material>
		</visual>
	</link>
	
	<link name="cylinder_hand_right">
		<visual>
			<geometry>
				<cylinder length=".0743" radius=".06" />
			</geometry>
			<material name="ylw">
          			<color rgba=".8 .8 0 1"/>
         		</material>
		</visual>
	</link>

    <link name="camera_left">
		<visual>
			<geometry>
				<box size=".11 .025 .035" />
			</geometry>
            <material name="pwkl">
          		<color rgba=".8 .8 1 1"/>
         	</material>
		</visual>
	</link>

    <joint name="camera_joint_left" type="fixed">
            <origin rpy="0 0 0" xyz="0 0 .083"/>
                <parent link="hand_left_palm" />
                <child link="camera_left" />
        </joint>


    <link name="robotiq_hand_wires_left">
		<visual>
			<geometry>
				<box size=".045 .05 .07" />
			</geometry>
            <material name="pwkl">
          		<color rgba=".8 .6 1 1"/>
         	</material>
		</visual>
	</link>

    <joint name="robotiq_hand_wires_left_joint" type="fixed">
            <origin rpy="0 0 0" xyz="0.08 -0.02 0.0"/>
                <parent link="hand_left_palm" />
                <child link="robotiq_hand_wires_left" />
    </joint>


    <link name="robotiq_force_wires_left">
		<visual>
			<geometry>
				<box size=".045 .05 .02" />
			</geometry> 
            <material name="pwkl">
          		<color rgba=".8 0 1 1"/>
         	</material>
		</visual>
	</link>

    <joint name="robotiq_force_wires_left_joint" type="fixed">
            <origin rpy="0 0 0" xyz="0.09 0 0"/>
                <parent link="cylinder_hand_left" />
                <child link="robotiq_force_wires_left" />
    </joint>


<!--
	<link name="ft_sensor_cable_box_left">
		<visual>
			<geometry>
				<box size=".055 .055 .033" />
			</geometry>
		</visual>
	</link>

	<link name="ft_sensor_cable_box_right">
		<visual>
			<geometry>
				<box size=".055 .055 .033" />
			</geometry>
		</visual>
	</link>
-->


        <joint name="hand_cylinder_joint_left" type="fixed">
            <origin rpy="3.14159 0 3.14159" xyz="0 0 0"/>
                <parent link="arm_left_link_tool0" />
                <child link="cylinder_hand_left" />
        </joint>

        <joint name="hand_cylinder_joint_right" type="fixed">
            <origin rpy="3.14159 0 3.14159" xyz="0 0 -.03125"/>
                <parent link="arm_right_link_tool0" />
                <child link="cylinder_hand_right" />
        </joint>


        <xacro:s-model_articulated prefix="hand_left_">
            <origin xyz="0 0 0" rpy="0 0 0" />
        </xacro:s-model_articulated>
<!--.077475-->
        <joint name="hand_left_joint" type="fixed">
           <origin rpy="1.57079 0 -0.26180" xyz="0 0 0.0797125"/>
                <parent link="cylinder_hand_left" />
                <child link="hand_left_palm" />
            </joint>
        
    <!--    <joint name="hand_left_joint" type="fixed">
            <origin rpy="-1.57079 0 3.14159" xyz="0 0 -0.0684"/>
                <parent link="arm_left_link_tool0" />
                <child link="hand_left_palm" />
            </joint> -->
        <joint name = "hand_left_collision_sphere" type = "fixed">
            <origin rpy="0 0 0" xyz="0 0.1 0" />
            	<parent link="hand_left_palm"/>
			    <child link="hand_left_collision_sphere_joint"/>
        </joint>


        <xacro:s-model_articulated prefix="hand_right_">
            <origin xyz="0 0 0" rpy="0 0 0" />
        </xacro:s-model_articulated>      
   
        <joint name="hand_right_joint" type="fixed">
           <origin rpy="1.57079 0 2.87979" xyz="0 0 0.0797125"/>
                <parent link="cylinder_hand_right" />
                <child link="hand_right_palm" />
            </joint>

         <joint name = "hand_right_collision_sphere" type = "fixed">
			<origin rpy="0 0 0" xyz="0 0.1 0"/>
            	<parent link="hand_right_palm"/>
			    <child link="hand_right_collision_sphere_joint"/>
        </joint>    
  <!--      <joint name="hand_right_joint" type="fixed">
            <origin rpy="-1.57079 0 0" xyz="0 0 -0.0684"/>
                <parent link="arm_right_link_tool0" />
                <child link="hand_right_palm" />
            </joint>
-->
	
       
</robot>
